wireguard/.env
cloudflare/.env
.DS_Store
media/.env
arr/.env
.gitignore
plex/.env
downloaders/.env
omada/.env
custom/.env
.gitignore
syncthing/.env
homer/.env
watchtower/.env
freshrss/.env
homarr/.env
